body {
    background: url(../image/dark_wall.jpg);
}
body::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
    background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
}
.container {
    margin: 6% 0;
    text-align: center;
}
.avatar {
    margin: 0 auto;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
.social {
    margin-top: 6%;
}
.social .item {
    margin: 10px;
    color: #ccc;
    text-decoration: none;
}
@media screen and (max-width: 640px){
    .avatar {
        width: 15%;
        height: 15%;
    }
    .container {
        margin: 20% 0;
    }
    .social {
        margin-top: 16%;
    }
    .social .item {
        font-size: 10%;
        margin: 5px;
    }
}
